.fahrthistorie-container {
  background: #ffffff;
  min-height: 100vh;
  padding: 36px;
  color: #000000;
  h2 {
    margin-left: 14px;
    font-size: 2.1rem;
  }
  .history-table-container {
    margin-top: 12px;
    background: #ffffff;
    border-radius: 11px;
    box-shadow: 0 2px 14px #aeaeae;
    padding: 18px;
    table {
      width: 100%;
      th, td {
        background: #ffffff;
        color: #000000;
        border-bottom: 1px solid #000000;
      }
      th {
        font-weight: 600;
        color: #3f51b5;
      }
      mat-icon {
        font-size: 1.1rem;
        vertical-align: middle;
        color: gold;
      }
    }
  }
}
