<div class="fahrthistorie-container">
  <h2>Fahrthistorie</h2>
  <mat-form-field appearance="outline" style="width: 330px; margin-bottom: 16px;">
    <mat-label>Suche Fahrer oder Kunde</mat-label>
    <input matInput  placeholder="Name oder Benutzername..." />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="history-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Fahrt-ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fahrt-ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <!-- Datum -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum/Uhrzeit</th>
        <td mat-cell *matCellDef="let row">{{ row.date }}</td>
      </ng-container>
      <!-- Distanz -->
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distanz</th>
        <td mat-cell *matCellDef="let row">{{ row.distance }}</td>
      </ng-container>
      <!-- Dauer -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dauer</th>
        <td mat-cell *matCellDef="let row">{{ row.duration }}</td>
      </ng-container>
      <!-- Geld -->
      <ng-container matColumnDef="money">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Geld</th>
        <td mat-cell *matCellDef="let row">{{ row.money | number:'1.2-2' }} €</td>
      </ng-container>
      <!-- Kundenbewertung -->
      <ng-container matColumnDef="customerRating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung Kunde</th>
        <td mat-cell *matCellDef="let row">{{ row.customerRating }} <mat-icon>star</mat-icon></td>
      </ng-container>
      <!-- Fahrerbewertung -->
      <ng-container matColumnDef="driverRating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung Fahrer</th>
        <td mat-cell *matCellDef="let row">{{ row.driverRating }} <mat-icon>star</mat-icon></td>
      </ng-container>
      <!-- Kundenname -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kunde</th>
        <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
      </ng-container>
      <!-- Kundenbenutzername -->
      <ng-container matColumnDef="customerUsername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Benutzername Kunde</th>
        <td mat-cell *matCellDef="let row">{{ row.customerUsername }}</td>
      </ng-container>
      <!-- Fahrerbenutzername -->
      <ng-container matColumnDef="driverUsername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Benutzername Fahrer</th>
        <td mat-cell *matCellDef="let row">{{ row.driverUsername }}</td>
      </ng-container>
      <!-- Fahrername -->
      <ng-container matColumnDef="driverName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fahrer</th>
        <td mat-cell *matCellDef="let row">{{ row.driverName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
