/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-box {
  margin: 10px auto;
  padding: 5px 0;
  width: fit-content;
}

.alert {
  padding: 0.75rem;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.error {
  background: #ffebee;
  color: #c62828;
}
