<form>
  <select-location
    [label]="'Pickup Location'"
    [placeholder]="'Restaurant'"
    [control]="pickupControl"
    [geoLocationButton]="true"
    (locationSelected)="onLocationSelected($event, updateType.pickup)"
    >
  </select-location>

  <select-location
    [label]="'Drop-off Location'"
    [placeholder]="'Cinema'"
    [control]="dropoffControl"
    (locationSelected)="onLocationSelected($event, updateType.dropoff)"
    >
  </select-location>

  <div class="form-label">Select a vehicle class:</div>
  <mat-radio-group [(ngModel)]="ride.vehicleClass" name="vehicleClass">
    <mat-radio-button *ngFor="let car of vehicles" [value]="car">
      {{ car }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="padding">
    <button mat-fab extended class="full-width" (click)="submit()" [disabled]="isFormInvalid">
      Submit Ride Request
    </button>
  </div>

  <div class="alert error" *ngIf="ride.active">
    <mat-error>You can not request a ride while already having an active ride.</mat-error>
  </div>

</form>
