<div class="chat-container">
  <div class="chat-messages" #messageContainer>
    <div
      *ngFor="let msg of messages"
      [ngClass]="{
        'my-msg': msg.sender === username,
        'their-msg': msg.sender !== username
      }"
    >
      <div class="msg-bubble">
        <div class="msg-meta">
          <small>{{ msg.timestamp | date: 'shortTime' }}</small>
          <mat-icon
            *ngIf="msg.sender === username"
            class="read-status"
            [ngClass]="{ read: msg.read }"
          >
            {{ msg.read ? 'done_all' : 'done_all' }}
          </mat-icon>
        </div>

        <div class="msg-content" [class.deleted]="msg.deleted">
          <span *ngIf="!msg.deleted">{{ msg.content }}</span>
          <i *ngIf="msg.deleted" class="italic text-muted">Message deleted</i>
        </div>

        <div
          class="msg-actions"
          *ngIf="msg.sender === username && !msg.read && !msg.deleted"
        >
          <button mat-icon-button (click)="startEdit(msg)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteMessage(msg)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input
      [(ngModel)]="newMessage"
      (keydown.enter)="send()"
      placeholder="Type your message..."
    />
    <button (click)="send()">
      {{ editingMessageId ? 'Update' : 'Send' }}
    </button>
    <button
      *ngIf="editingMessageId"
      class="cancel-edit"
      mat-stroked-button
      color="warn"
      (click)="cancelEdit()"
    >
      Cancel
    </button>
  </div>
</div>
