<div class="main-container">
  <div class="left-container">

    <div class="fix">
      <mat-card appearance="outlined" class="card big">
        <mat-card-content class="content-section bottom-padding">

          <div class="header field">
            <mat-icon>explore</mat-icon>
            <span class="label">
              Add a new Stopover
              {{
                desiredStopoverIndex === points.length
                  ? 'after'
                  : desiredStopoverIndex === points.length - 1
                    ? 'before'
                    : 'before'
              }}:
            </span>
            <span class="value bold">
              {{
                desiredStopoverIndex === points.length
                  ? 'Drop off'
                  : desiredStopoverIndex === points.length - 1
                    ? 'Drop off'
                    : 'Stopover ' + desiredStopoverIndex
              }}
            </span>
          </div>

          <select-location
            class="stopover-location-select"
            [label]="'I want to stop by ...'"
            [placeholder]="'Train Station'"
            [control]="newStopoverControl"
            (locationSelected)="onLocationSelected($event)"
            [min]="nextStopoverIndex"
            [max]="points.length"
            [current]="desiredStopoverIndex">
          </select-location>

          <input type="range"
                 style="width: 100%"
                 [(ngModel)]="desiredStopoverIndex"
                 [min]="nextStopoverIndex"
                 [max]="points.length"
                 [step]="1"
                 required>
        </mat-card-content>

        <mat-card-content class="content-section top-border">
          <div class="header field">
            <mat-icon>flash_on</mat-icon>
            <span class="label">Simulation Duration:</span>
            <span class="value bold">{{ duration }} seconds</span>
          </div>

          <input
            style="width: 100%"
            type="range"
            min="3"
            max="30"
            (change)="speed()"
            [(ngModel)]="duration"
            [disabled]="!isPaused">
        </mat-card-content>

        <mat-card-content class="content-section top-border">
          <div class="button-container gap">
            <button *ngIf="!isRunning" class="btn" mat-fab extended (click)="start()">Start</button>
            <button *ngIf="isRunning && isPaused" class="btn" mat-fab extended (click)="resume()">Resume</button>
            <button *ngIf="isRunning && !isPaused" class="btn" mat-fab extended (click)="pause()">Pause</button>
            <button *ngIf="isRunning" class="btn warn" mat-fab extended (click)="complete()" [disabled]="!isPaused">Complete</button>
          </div>
        </mat-card-content>
      </mat-card>

      <!--TODO DELETE -->
      <button (click)="console.log(points)">points</button>
      <!--end delete-->

    </div>



    <div class="scroll">
      <div *ngFor="let point of points; let i = index">
        <app-location-card
          [removable]="!point.passed"
          [location]="{ latitude: point.lat, longitude: point.lng, name: point.name, address: point.address }"
          [label]="i === 0 ? 'Pick up' : i === points.length - 1 ? 'Drop off' : 'Stopover ' + i"
          (onRemove)="removeStopover(i)">
        </app-location-card>
      </div>
    </div>
  </div>

  <div class="right-container map">
    <div #mapContainer class="sep-map"></div>
  </div>
</div>
