html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.ride-form-container {
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.map-container {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
