.location-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

app-location-card {
  flex: calc(50% - 8px);
  min-width: 280px;
  padding-bottom: 30px;
}

.header.field {
  .label {
    width: 260px;
  }
}

.header-row {
  font-weight: 500;
  color: #555;
  width: 90px;
}

.name {
  font-weight: 700;
}

.coord {
  font-style: italic;
  color: #888;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-weight: 500;
  background: #DAE2F9  ;
  color: #003F88   ;
}

.info-btn {
  font-size: 15px;
  margin-left: auto; width: 100px; font-weight: bold
}

.chat-button-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.chat-btn-with-badge {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 24px;
  font-weight: 600;
  min-width: 200px;
  height: 48px;
  background-color: #1976d2;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #1565c0;
  }
}

.chat-badge {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
