.header.field {
  .label {
    width: 220px;
  }

  .value {
    text-align: left;
    flex: 1;
  }
}

.button-container {
  width: 75%;
  flex-direction: row;
  gap: 50px;

  .btn {
    width: calc(50% - 20px);
  }
}
